# subdirectories to ignore #
/Misc
/Slides

# filetypes to ignore #
*.docx
*.xlsx
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.toc
*.maf
*.mtc*
*.stc*
*.bib.bak

# files to ignore #
FinalExam.*
